@font-face {
  font-family: "iconfont"; /* Project id 3870176 */
  src: url('iconfont.woff2?t=1675223212304') format('woff2'),
       url('iconfont.woff?t=1675223212304') format('woff'),
       url('iconfont.ttf?t=1675223212304') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-change:before {
  content: "\e610";
}

.icon-close:before {
  content: "\e60f";
}

.icon-search:before {
  content: "\e60d";
}

.icon-list:before {
  content: "\e60e";
}

.icon-expand:before {
  content: "\e603";
}

.icon-down:before {
  content: "\e604";
}

.icon-more:before {
  content: "\e605";
}

.icon-up:before {
  content: "\e606";
}

.icon-sidebar-cs:before {
  content: "\e607";
}

.icon-car:before {
  content: "\e608";
}

.icon-online-cs:before {
  content: "\e609";
}

.icon-sidebar-car:before {
  content: "\e60a";
}

.icon-sidebar-top:before {
  content: "\e60b";
}

.icon-sidebar-service:before {
  content: "\e60c";
}

