*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    
}

/*导航栏制作*/
.nav{
    background-color:#F5B443;/*导航栏整体背景*/
    padding:0 20px;/*左右边距，避免内容贴边*/
    width: 1270px;
    justify-self: center;
    position:fixed;
    z-index: 99999999;
    height: 50px;
    display: flex;
    align-items: center;/*让子元素居中*/
}

.nav-container{/*导航栏内容设置*/
    display: flex;/*启用弹性布局*/
    justify-content: space-between;/*让选项分散到两端*/
    align-items: center;
    height: 100%;
    width: 100%;
}

.nav-container button{
    height: 100%;
    width: 100%;
}

.nav-link{
    background-color:#F5B443;
    color: white;
    border-radius: 8px;
    height: 100%;
    width: 100%;
    text-decoration:none;/*导航栏链接去除下划线*/
    padding: 8px 12px;
}

.nav-link:hover{
    background-color: orange;
    
}

/*cover部分制作*/
.cover{
    width: 1300px;
    justify-self: center;
}

.cover-background{
    background:url(./images/background_Homepage.png);
    background-repeat:no-repeat;
    background-size: contain;
    justify-self: center;
    height: 880px;
    width: 1300px;
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    z-index: 99999;
}

.cover-decor{
    position: absolute;
    height: 500px;
    width: 500px;
    background:url(./images/decoration_Geek.png);
    background-repeat: no-repeat;
    background-size:contain;
    justify-self: center;
    top: 150px;
    left: 500px;
    transition: all 0.4s cubic-bezier(0.4,0,0.2,1);
}

.cover-decor:hover{
    transform: translate(10px) scale(0.68);
}


/*Introduction部分制作*/

.Introduction_1{
    display: flex;/*启用弹性布局*/
    flex-direction: row-reverse;/*改变左右主轴方向*/
    gap: 10px;/*设置文字和图片的间距*/
   background-color:#FFFFFF;/*设置背景颜色*/
   border: 0.2rem solid gray;/*设置边框效果*/
   border-radius: 20px;/*设置边框效果*/
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);/*设置边框效果*/
   margin: 80px;/*外边距设置*/
   padding: 5px 5px 5px 5px;/*内边距设置*/
}

.Introduction_1:hover{
    transform: scale(1.01);/*悬停放大效果*/
}

.Introduction h2{
    display: flex;/*启用弹性布局*/
    justify-content: center;/*居中*/
    font: bold 30;/*字体加粗*/
    color: rgba(56, 56, 253, 0.764);/*字体颜色*/
}

.Intro_1 h3{
    padding: 25px;/*内边距*/
    font-size: 40px;/*字体大小*/
    font: bold;/*字体样式*/
    color: black;/*字体样式*/
    letter-spacing: 1px;/*设置字间距*/
    text-align: left;/*左对齐*/
}

.Intro_1 h4{
    padding: 25px;/*内边距*/
    font-size: xx-large;/*字体大小*/
    font: bold;/*字体样式*/
    color:blue;/*字体样式*/
    letter-spacing: 1px;/*设置字间距*/
    text-align: left;/*左对齐*/
}

.Intro_1 p{
    padding: 5px;/*内边距*/
    margin: 10px 0;/*外边距*/
    color: black;/*字体颜色*/
    font-size: large;/*字体大小*/
    text-align: justify;/*两端对齐*/
    line-height: 40px;/*行高*/
    letter-spacing: 0.5px;/*字间距*/
   
}

.img_1{
  padding: 10px;/*内边距*/
}

.img_1:hover{
    transform: rotate(-10deg);/*悬停左旋转*/
}

.Introduction_2{
    display: flex;/*启用弹性布局*/
    gap: 10px;/*设置文字和图片的间距*/
   background-color: white;/*设置背景颜色*/
   border: 0.2rem solid gray;/*设置边框效果*/
   border-radius: 20px;/*设置边框效果*/
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);/*设置边框效果*/
   margin: 80px;/*外边距设置*/
   padding: 5px 5px 5px 5px;/*内边距设置*/
}

.Introduction_2:hover{
    transform: scale(1.01);
}

.Introduction h2{
    display: flex;
    justify-content: center;
    font: bold 30;
    color: rgba(60, 60, 212, 0.753);
}

.Intro_2 h3{
    padding: 25px;/*内边距*/
    font-size: 40px;/*字体大小*/
    font: bold;/*字体样式*/
    color: black;/*字体样式*/
    letter-spacing: 1px;/*设置字间距*/
    text-align: left;/*左对齐*/
}

.Intro_2 h4{
    padding: 25px;/*内边距*/
    font-size: xx-large;/*字体大小*/
    font: bold;/*字体样式*/
    color:blue;/*字体样式*/
    letter-spacing: 1px;/*设置字间距*/
    text-align: left;/*左对齐*/
}

.Intro_2 p{
    padding: 5px;
    margin: 10px;
    color: black;
    font-size: large;
    text-align: justify;/*两端对齐*/
    line-height: 40px;/*行高*/
    letter-spacing: 0.5px;
    margin: 10px 0;
}

.img_2{
  padding: 10px;
}

.img_2:hover{
    transform: rotate(10deg);
}

.Introduction_3{
    display: flex;/*启用弹性布局*/
    flex-direction: row-reverse;
    gap: 10px;/*设置文字和图片的间距*/
   background-color: white;/*设置背景颜色*/
   border: 0.2rem solid gray;/*设置边框效果*/
   border-radius: 20px;/*设置边框效果*/
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);/*设置边框效果*/
   margin: 80px;/*外边距设置*/
   padding: 5px 5px 5px 5px;/*内边距设置*/
}

.Introduction_3:hover{
    transform: scale(1.01);
}

.Introduction h2{
    display: flex;
    justify-content: center;
    font: bold 30;
    color: rgba(60, 60, 212, 0.753);
}

.Intro_3 h3{
    padding: 25px;/*内边距*/
    font-size: 40px;/*字体大小*/
    font: bold;/*字体样式*/
    color: black;/*字体样式*/
    letter-spacing: 1px;/*设置字间距*/
    text-align: left;/*左对齐*/
}

.Intro_3 h4{
    padding: 25px;/*内边距*/
    font-size: xx-large;/*字体大小*/
    font: bold;/*字体样式*/
    color:blue;/*字体样式*/
    letter-spacing: 1px;/*设置字间距*/
    text-align: left;/*左对齐*/
}

.Intro_3 p{
    padding: 5px;
    margin: 10px;
    color: black;
    font-size: large;
    text-align: justify;/*两端对齐*/
    line-height: 40px;/*行高*/
    letter-spacing: 0.5px;
    margin: 10px 0;
}

.img_3{
  padding: 10px;
}

.img_3:hover{
    transform: rotate(-10deg);
}

.Introduction_4{
    display: flex;/*启用弹性布局*/
    gap: 10px;/*设置文字和图片的间距*/
   background-color: white;/*设置背景颜色*/
   border: 0.2rem solid gray;/*设置边框效果*/
   border-radius: 20px;/*设置边框效果*/
   box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.1);/*设置边框效果*/
   margin: 80px;/*外边距设置*/
   padding: 5px 5px 5px 5px;/*内边距设置*/
}

.Introduction_4:hover{
    transform: scale(1.01);
}

.Introduction h2{
    display: flex;
    justify-content: center; background-color: brown;
    font: bold 30;
    color: rgba(60, 60, 212, 0.753);
}

.Intro_4 h3{
    padding: 25px;/*内边距*/
    font-size: 40px;/*字体大小*/
    font: bold;/*字体样式*/
    color: black;/*字体样式*/
    letter-spacing: 1px;/*设置字间距*/
    text-align: left;/*左对齐*/
}

.Intro_4 h4{
    padding: 25px;/*内边距*/
    font-size: xx-large;/*字体大小*/
    font: bold;/*字体样式*/
    color:blue;/*字体样式*/
    letter-spacing: 1px;/*设置字间距*/
    text-align: left;/*左对齐*/
}

.Intro_4 p{
    padding: 5px;
    margin: 10px;
    color: black;
    font-size: large;
    text-align: justify;/*两端对齐*/
    line-height: 40px;/*行高*/
    letter-spacing: 0.5px;
    margin: 10px 0;
}

.img_4{
  padding: 10px;
}

.img_4:hover{
    transform: rotate(10deg);
}

/*About us部分制作*/

.Section_2{
    background-color: #FEFDF5;
    border: 8px solid gray;
    display:grid;
    grid-template-rows: auto 1fr;
    gap:70px;
    border-radius: 10px;
    margin: 50px;
    height: auto;
    min-height: 700px;
    justify-content: center;
    align-items: start;/*顶部对齐*/
    padding: 50px 20px;
    position: relative;
}

.section-title{
    background-color: transparent;/*移除背景色*/
    font-size: 60px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
}

.section-content{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    gap: 80px;
    justify-content: center;
    align-items: start;
    width: 100%;
    max-width: 1200px;
    margin:0 auto;
}

.Aboutus_1,.Aboutus_2,.Aboutus_3{
    border: 0.3rem solid rgb(100,40,156);
    border-radius: 30px;
    padding:30px 20px;
    margin:0;
    width:100%;
    max-width:200px;
    height:350px;
    color:black;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:flex-start;
    text-align:center;
    background-color: #FEFDF5;
    box-shadow:0 4px 15px rgba(0, 0, 0, 0.1);
    transition:all 0.4s ease;
    position: relative;
    z-index:10;
}

.Aboutus_1:hover,.Aboutus_2:hover,.Aboutus_3:hover{
    transform: translateY(-10px) scale(1.1);
}

.Aboutus_1 img,.Aboutus_2 img,.Aboutus_3 img{
    margin-bottom: 20px;
    width: 130px;
    height: 130px;
    object-fit: contain;
}

.images{
    position:absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

.decoration{
    position:relative;
    width: 1300px;
    height: 700px;
    background-color:transparent;
}

.decoration_1{
    position:absolute;
    width: 300px;
    height: 100px;
    top:-55px;
    left:-30px;
    transform:scaleX(-1);
}

.decoration_2{
    position: absolute;
    width: 300px;
    height: 100px;
    top: -55px;
    right: -30px;
}

.decoration_3{
    position:absolute;
    width: 300px;
    height: 100px;
    transform: scale(-1,-1);
    bottom: -30px;
    left: -50px;
    
}

.decoration_4{
    position: absolute;
    width: 300px;
    height: 100px;
    transform: scaleY(-1);
    bottom: -30px;
    right: -50px;
}

.Butterfly {
    position: absolute;
    bottom: 60px;
    right:60px;
    z-index: 10;
    pointer-events: auto;
    cursor: pointer;
}

.Butterfly::before{
    content: "保持好奇心！";
    width: 100px;
    height: 20px;
    position: absolute;
    z-index: 1;
    top: 10px;
    right: 0;
    opacity: 0;
}

.Butterfly:hover{
    opacity: 0.8;
}

.Butterfly:hover::before{
    height: 70%;
    opacity: 1;
}

.Butterfly .Butterfly-content{
    color: #333;
    text-align: center;
    width: 100%;
    padding: 0 30px;
    transform: translateX(-50%);
    position: absolute;
    top: 25%;
    left: 50%;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease;

}

.decoration_5 {
    width:200px;
    height: 200px;
    object-fit: contain;
    transition: all 0.4s cubic-bezier(0.175,0.885,0.32,1.275);
}

.decoration_5:hover{
    transform: translateY(10px) scale(0.98);
}

/*Contact us部分制作*/

.Section_4{
    background-color: #FFF;
    color: #333;
    margin: 0;
    padding:0;
}

.decoration4{
    max-width: 1300px;
    height: 700px;
    margin: 100px auto;
    padding: 40px;
    border: 8px solid #6a998a;
    border-radius: 8px;
    position: relative;
    background: #FFFFFF;
}

.decor{
    position: absolute;
    z-index: 0;
}

.tree-left{
    top: 50px;
    left: 430px;
    width: 60px;
    height: 100%;
    background: url('./images/decoration_Leaves.png') no-repeat;
    background-size: contain;   
}

.tree-right{
    top: 0;
    right: 0;
    width: 200px;
    height: 400%;
    background: url('./images/decoration_Tree.png') no-repeat; /* 可替换为实际图4的树背景图 */
    background-size: contain;
}

.chameleon{
    bottom: -350px;
    right: 160px;
    width: 500px;
    height: 580px;
    background: url('./images/decoration_Chameleon.png') no-repeat; /* 可替换为实际图2的变色龙图 */
    background-size: contain;
    
}

.ladybug{
    bottom: -20px;
    left: -20px;
    width: 60px;
    height: 60px;
    background: url('./images/decoration_Ladybug.png') no-repeat; /* 瓢虫图标 */
    background-size: contain;
}

.treewithsomething{
    top: -50px;
    left: 0px;
    width: 800px;
    height: 400px;
    background: url('./images/decoration_TreeWithSometing.png') no-repeat; /* 可替换为实际图4的蝗虫图 */
    background-size: contain;
}

.main-container{
    position: relative;
    justify-self: center;/*水平居中，单个元素在网格单元格内居中*/
    font-size: x-large;
    line-height: 60px;/*设置行间距*/
    z-index: 1;
}

.main-content h2{
    font-size: 2.5rem;
    color: #3C4F50;
    margin-bottom: 80px;
    display: flex;
    align-items: center;/*垂直居中，align-items与flex搭配使用*/
    justify-content: center;/*内容居中*/
    justify-self: center;/*水平居中，单个元素在网格单元格内居中*/
    z-index: 2;/*提高优先级*/
}

.ps{
    width: 600px;
    margin-top: 30px;/*设置与上版块间距*/
    font:#717C8A;
    justify-self:center;
    display: flex;
}

.buttons{
    display: flex;
    gap:120px;
    margin-top: 100px;/*设置与上版块间距*/
    justify-self: center;/*水平居中，单个元素在网格单元格内居中*/
}

.btn{
    border-radius: 10px;
    border: 1px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    width: 150px;
    height: 40px;
    background-color: #4D8638;
    color: white;
    transition:all 0.4 ease;
}

.btn:hover{
    transform: scale(1.3);
    text-shadow: #717C8A;
}

/*Q&A部分制作*/

.Section-5-container{
    width: 80%;
    max-width: 1300px;
    height: 700px;
    margin: 0 auto;
    border: 3px solid #6a8fcc;
    border-radius: 15px;
    overflow: hidden;
    background: url(./images/background_QA.png);
}

.Section-5-head{
    padding: 20px 0;
    text-align: center;
    justify-self: center;
    font-size: 2.5em;
    font-weight: bold;
    color: #000;    
}

.Section-5-head span{
    font-size: 0.8rem;
}

.Section-5-content{
    position: relative;
    justify-self: center;
    font-size: large;
    line-height: 50px;
    top: 50px;

}


.Section-5-content::after{
    content:"";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
}

.Section-5-decor{
    position:absolute;
    
    z-index: 99999;
}

.Section-5-decor::after{
    content: "";
    position: absolute;
    border-radius: 15px;
    top:645px;
    left: 0;
    width: 50px;
    height: 50px;
    background: linear-gradient(-135deg, transparent 50%, #fff 50%, #fff 70%, #fcd063 60%,#000 70%, #fcd063 80%);    
}

